.text-button-changer{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;

}

.text-button-changer h2{
    text-align: center;
    color: #91BBF2;
}

.text-button-changer button{
    background-color: #035AA6;
    color: #91BBF2;
    border: none;
    margin: 5px 0;
    padding: 3px 0;
}